@import 'variables';

#nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $nav-height;
  width: 100%;
  background-color: #1f2328;
  z-index: 1;
}
#nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  .nav__li {
    transition: all 0.7s ease;
    font-size: 16pt;
    text-align: center;
    padding: 0 3%;
    &:hover {
      transform: scale(1.2);
    }
    a {
      color: white;
      &:hover {
        color: rgb(78, 211, 78) !important;
      }
    }
  }
}

@media screen and (max-width: 734px) {
  .nav__li {
    padding: 0 2% !important;
    font-size: unset !important;
  }
}

@media screen and (max-width: 497px) {
  #nav__ul {
    flex-flow: row wrap;
    .nav__li {
      width: 100%;
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
  #nav {
    height: 110px;
  }
}
