.container {
  padding-top: 1%;
  color: white;
  display: flex;
  justify-content: left;
  margin: auto;
  flex-direction: column;
  width: 80%;
}
.head {
  font-size: 22pt;
}
.body {
  margin-top: 1%;
}
