.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_item {
  transition: all 0.7s ease;
  font-size: 16pt;
  line-height: 16px;
  text-align: center;
  padding: 0 3%;
  &:hover {
    transform: scale(1.2);
  }
  a {
    color: white;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

.contacts_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #069157;
  width: 7rem;
  height: 2rem;
  transition: 0.7s;
  &:hover {
    background-color: #ff4c05;
    a {
      color: black !important;
    }
  }
}
